{% load static %}
{% load socialaccount %}
<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
</head>
<body>
    <div class="navbar bg-base-100">
        <a href="{% url 'home' %}" class="btn btn-ghost">MHW Home</a>
        <a href="{% url 'weapon_index' %}" class="btn btn-ghost">Weapons</a>
        <a href="{% url 'armors_index' %}" class="btn btn-ghost">Armor</a>
        <a href="{% url 'charms_index' %}" class="btn btn-ghost">Charms</a>
        <a href="{% url 'monsters_index' %}" class="btn btn-ghost">Monsters</a>
        {% if user.is_authenticated %}
            <p>Logged in as: {{ user.username }}</p>
            <a href="{% url 'account_logout' %}" class="btn btn-ghost">Logout</a>
        {% else %}
            <a href="{% provider_login_url 'google' %}" class="btn btn-primary">
                Login with Google
            </a>
        {% endif %}
            </div>

    {% block content %}{% endblock %}
</body>
</html>